<form action="/logout" method="post">
    <input type="submit" value="LogOut">
</form>
<h1>Hello <%= email %> . You are welcome on the website</h1>
<ul>
  <% arr.forEach(function(value){   %>
    <li><%= value.first %></li>


<%    })   %>
</ul>
